body {
  background: rgb(1, 0, 36);
  background: linear-gradient(90deg, rgba(1, 0, 36, 1) 0%, rgba(54, 156, 180, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.App {
  background: #fff;
  width: 550px;
  margin: 4rem auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
}

.App h1 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

/* Add Task Component */
.Add-Task {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Add-Task-input {
  width: 80%;
  padding: 1rem;
  border: 1px solid #b8b8b8;
  font-weight: bold;
}

.Add-Task-input ::placeholder {
  font-size: 1.2rem;
}

.Add-Task-btn,
.Edit-Task-btn {
  border: none;
  padding: 1.125rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s linear;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.Add-Task-btn {
  background: #a5d5f8;
}

.Add-Task-btn:hover {
  background: #49a6e9;
  color: #fff;
}
.Edit-Task-btn {
  color: #fff;
  background: #359696;
}
.Edit-Task-btn:hover {
  background: #146464;
}

/* TaskList */
.Task-List {
  list-style: none;
  padding: 0;
  margin-left: 3px;
}
.Task-List-li {
  padding: 1rem 1.2rem;
  margin: 10px 0;
  font-weight: bold;
  border-radius: 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

.Task-List-li:hover {
  background: #00ffff;
}

/* Icons */
.icons > svg {
  transition: all 0.2s linear;
}
.icons > svg:hover {
  transform: scale(1.1);
}
.icons svg:nth-child(2) {
  background: #b42c2c;
  color: #fff;
  font-size: 2.5rem;
  padding: 0.7rem;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.icons svg:nth-child(1) {
  background: #288181;
  color: #fff;
  font-size: 2.5rem;
  padding: 0.7rem;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.App-delete-btn {
  text-align: center;
  background: #000000;
  color: #fff;
  border: none;
  font-weight: bold;

  letter-spacing: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: inherit;
  margin-left: 40%;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.App-delete-btn:hover {
  background: #f58b8b;
  color: black;
}
